/* <link rel="stylesheet" href="https://kit.fontawesome.com/ea2822e8cc.css" crossorigin="anonymous"> */

*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
}
.top-section h1{
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 50px;
    font-size: 45px;
}
.heading_input{
    display: flex;
    margin: 15px;
}
h1{
    margin: 0px 0px 20px 0px;
    color: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
    font-family: 'Cinzel', serif;
}
.main-box{
    
    background: linear-gradient(to right, #ffafbd 0%, #ffc3a0 100%);
    height: 278px;
    margin: 100px auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 600px;
    padding: 30px;
   border-radius: 20px;
   border: 1px solid black;

}
.input{
    display: flex;
    margin: 15px;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 14px 38px;
}

.input_all{
    margin: 12px;
}

button{
    letter-spacing: 5px;
    font-family: 'Cinzel', serif;
    font-weight: bolder;
    transition:all 0.5s ease;
    padding: 7px;
    width: 150px;
    border-radius: 10px;
}
.column2 .input_all{
    font-size: 17px;
    padding: 5px;
    /* border: none; */
    background-color: transparent;
    outline: none;
}

.column1 input{
    margin-top: 25px;
    width: 150px;
    height: 20px;
    background-color: transparent;
    color: black;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

button:hover{
    background: linear-gradient(to right, #33ccff 0%, #ff99cc 100%);
    color: white;
    
    transition:all 0.5s ease;
}

h6{
    font-size: 20px;
}

.answer{
    text-align: center;
    letter-spacing: -1px;
    word-spacing: 14px;
    color: rgb(17 6 82);
    /* border-bottom: 1px solid black; */
    
}